<div class="container conta-style">
	<%= simple_form_for @info, :url =>  report_index_path, :method => :post do |f| %>
	<%= f.input :type_education %>
	<%= f.input :sex, collection: ["Мужчина", "Женщина"] %>
	<%= f.input :date_of_birth %>
	<%= f.input :born_place, collection: ["Россия", "Казахстан", "Кыргызстан"] %>
	<%= f.input :type_document, collection: ["Паспорт", "Загран папорт", "Иной Паспорт"] %>
	<%= f.input :another_name_document %>
	<%= f.input :serial_number_document %>
	<%= f.input :given_date %>
	<%= f.input :place_given_document %>
	<%= f.input :phone_number %>
	<%= f.hidden_field :user_id %> 
	<%= f.button :submit, 'Потвердить', class: 'btn btn-success btn-l' %>
	<% end %>
</div>